{% extends 'inicio.html' %}

{%load static%}
<header>
  <div id= "principal">

{% block Contenido_cambiante %}
<style>
  
    html, body, thead {
    margin: 0, auto
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: black;
    text-align:center
                }
    
</style>

<p style= "margin-top: 390px "> </p>
<table style= "margin: 0 auto">
        
    <thead>
      <tr >
        
        <th scope="col" class="titulos_cuadro" style= "font-size:150%; background-color:#EC7063; color:whitesmoke">Nombre</th>
        <th scope="col" class="titulos_cuadro" style= "font-size:150%; background-color:#EC7063; color:whitesmoke">Mail</th>
        <th scope="col" class="titulos_cuadro" style= "font-size:150%; background-color:#EC7063; color:whitesmoke">Telefono</th>
        <th scope="col" class="titulos_cuadro" style= "font-size:150%; background-color:#EC7063; color:whitesmoke">Reserva para el dia</th>
        <th scope="col" class="titulos_cuadro" style= "font-size:150%; background-color:#EC7063; color:whitesmoke">Personas</th>
        <th scope="col" class="titulos_cuadro" style= "font-size:150%; background-color:#EC7063; color:whitesmoke">Acción</th>
        </tr>
    </thead>
    {% for item in reserva %}
    <tbody class="vista" style="text-align:center">
      <tr>
        
        <td style= "font-size:15px">{{item.nombre}}</td>
        <td style= "font-size:15px">{{item.mail}}</td>
        <td style= "font-size:15px">{{item.telefono}}</td>
        <td style= "font-size:15px">{{item.fecha_reserva}}</td>
        <td style= "font-size:15px">{{item.cantidad_personas}}</td>
        <td ><div><form action="{% url 'eliminar_reserva' item.id %}"  method="POST">{% csrf_token %}
            <button style= "font-size:20px; background-color:red">Eliminar</button>
    </tr>
    
    </tbody>
    {% endfor %}
</table>

{% for items in reserva  %}
    
{% endfor %}
<br> <br>
{% if user.is_authenticated %}
<a class="confirmacion" style="padding: 15px 15px; font-size:1.7em; text-decoration:underline" 
href="{% url 'Logout' %}"> Cerrar sesión</a>
{% endif %}


{% endblock Contenido_cambiante %}