{% extends 'inicio.html' %}

{% block Contenido_cambiante %}
<style>
  html, body {
  min-height: 100%;
  margin-top: 25px
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: white;
  text-align:center
  
  }
  
     
</style>
<table class="table table-sm">
        
    <thead>
      <tr>
        
        <th scope="col" class="titulos_cuadro">Nombre</th>
        <th scope="col" class="titulos_cuadro">Mail</th>
        <th scope="col" class="titulos_cuadro">Telefono</th>
        <th scope="col" class="titulos_cuadro">Reserva para el dia</th>
        <th scope="col" class="titulos_cuadro">Personas</th>
        <th scope="col" class="titulos_cuadro">Acción</th>
        </tr>
    </thead>
    {% for item in reserva %}
    <tbody class="vista" style="text-align:center">
      <tr>
        
        <td>{{item.nombre}}</td>
        <td>{{item.mail}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.fecha_reserva}}</td>
        <td>{{item.cantidad_personas}}</td>
        <td><div><form action="{% url 'eliminar_reserva' item.id %}" class= "vista" method="POST">{% csrf_token %}
            <button class="btn btn-outline-dark">Eliminar</button>
    </tr>
    
    </tbody>
    {% endfor %}
</table>

{% for items in reserva  %}
    
{% endfor %}
<br> <br>
{% if user.is_authenticated %}
<<a  style="font-size:1em; text-decoration:underline; border: 5px solid white; 
padding: 20px; background-color:salmon; text-transform: uppercase; font-weight:bold" href="{% url 'Logout' %}"> Cerrar sesión</a>
{% endif %}


{% endblock Contenido_cambiante %}